<a href="https://colab.research.google.com/github/ahmedmoustafa/AUC-Fundamentals-of-Data-Science-II-Spring-2023/blob/main/problemsets/quiz1_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Names

The first names of the students enrolled in DSCI1412 2 are stored in the `names` list below. (unrelated to the question, but the first names are simply ordered by the last names - not shown)

In [1]:
names = ["Malak", "Omar", "Jana", "Aly", "Rawan", "Yousef", "Abdelrahman", "Sara", "Nour", "Kenzie", "Charbel", "Malak", "Shaymaa", "Lojane", "Khaled", "Amr", "Lina", "Kenzy", "Youssef", "Nadine", "Lorina", "Nour", "Farah", "Adham", "Nour", "Farah", "Abdulrahman", "Aly", "Jessie", "Zeina"]

## Q1.

Write a Python program to count the occurrences of the first names in the class.

### Answer

To begin, we will generate a list of unique names from the original list, removing duplicates. The list of unique names will be referred to as `unique_names.`

In [2]:
unique_names = [] # start with an empty list

for name in names: # for each name in the original list
  if name not in unique_names: # if the name has not been added to the unique list
    unique_names.append (name) # add it to the unique list (otherwise do nothing)

print(unique_names)

['Malak', 'Omar', 'Jana', 'Aly', 'Rawan', 'Yousef', 'Abdelrahman', 'Sara', 'Nour', 'Kenzie', 'Charbel', 'Shaymaa', 'Lojane', 'Khaled', 'Amr', 'Lina', 'Kenzy', 'Youssef', 'Nadine', 'Lorina', 'Farah', 'Adham', 'Abdulrahman', 'Jessie', 'Zeina']

In [3]:
print("Number of orignial names:", len(names))
print("Number of unique names:", len(unique_names))

Number of orignial names: 30
Number of unique names: 25

Following that, we will go through the list of unique names, calculating their counts in the original list and storing them in a dictionary with the keys being the names and the values being the counts in the original list.

In [4]:
counts = {} # start with an empty dictionary 

for name in unique_names: # for each name in the unique list
  counts[name] = names.count(name) # get the count of that name in the original list and put in the dictionary

print(counts)

{'Malak': 2, 'Omar': 1, 'Jana': 1, 'Aly': 2, 'Rawan': 1, 'Yousef': 1, 'Abdelrahman': 1, 'Sara': 1, 'Nour': 3, 'Kenzie': 1, 'Charbel': 1, 'Shaymaa': 1, 'Lojane': 1, 'Khaled': 1, 'Amr': 1, 'Lina': 1, 'Kenzy': 1, 'Youssef': 1, 'Nadine': 1, 'Lorina': 1, 'Farah': 2, 'Adham': 1, 'Abdulrahman': 1, 'Jessie': 1, 'Zeina': 1}

## Q2.

Write the code to find out which first name is the most common in the class?

### Answer

Bascially we will go over the above dictionary `counts` to capture the maximum count.

In [5]:
max_count = -1 # start max count with a samll value (cannot be a max)
max_position = -1 # keep track of the position with the max count
current_position = 0 # simply the current position in the list of unique names

for name in unique_names: # for each name in the unique list
  if counts[name] > max_count: # if the corresponding count of that name is greater than the max
    max_count = counts[name] # set the max to the count of that name
    max_position = current_position # set the position of the max to the current position
  current_position += 1 # move the current position by one to next name in the list or next position

print("The most common first name is", unique_names[max_position], "with a frequency of", max_count, "out of", len(names), "names in the class")

The most common first name is Nour with a frequency of 3 out of 30 names in the class

**Note:** If more than one name has the same maximum number of occurrences, the above logic will only capture one of them, whichever comes first in the list of unique names.